{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block main %}
    <main class="container">
        <div class="row g-5 ml-20">
            <div class="col">
                <h3 class="pb-4 mb-4 italic border-b-2 text-blue-950">{{ category.name }}</h3>
                <div id="article_list" class="ml-20">
                    {%  include 'article/list.html.twig' with { articles : category.articles, leftCol: 4, rightCol: 8 } %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}



