<div class="p-4 bg-slate-200 rounded">
    <h4 class="italic">Catégories</h4>
    <ol class="list-none mb-0 text-blue-950">
        <li><a href="#">Tutoriel Symfony</a></li>
        <li><a href="#">Tutoriel Angular</a></li>
    </ol>
</div>